*.vvp
*.lxt
*.gtkw
/board-smt/output
/indicator-panel/output
*.bak
*.kicad_pcb-bak
*.net
*.jpg
*.png
*.pdf
*.ps
*.bit
vivado*.jou
vivado*.log
vivado*.str
vivado_pid*.zip
/verilog/sd.hex
/verilog/sd.lst
/papers/images/*.lib
/papers/images/*.bck
/papers/images/*.dcm
