*.vvp
*.lxt
*.gtkw
/board-smt/output
/indicator-panel/output
*/rescue-backup/
*.bak
*-bak
*.kicad_pcb-bak
*.net
*.jpg
*.png
*.pdf
*.ps
*.eps
*.bit
*.html
vivado*.jou
vivado*.log
vivado*.str
vivado_pid*.zip
/verilog/sd.hex
/verilog/sd.lst
/papers/images/*.lib
/papers/images/*.bck
/papers/images/*.dcm
/documentation/*.aux
/documentation/*.log
/documentation/*.out
/documentation/*.toc
/builds
/docs
/tmp
/uas
/diag
/jnc
/xilinx
/bus-xcvr
/qsic
/usic
